.header-toolbar {
  background-color: #f0f0f0;
  color: #333;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 16px;
  height: 80px;
  direction: rtl;

  .logo-container {
    grid-column: 1;
    cursor: pointer;
    display: flex;
    align-items: center;

    .logo {
      height: 80px;
      width: auto;
    }
  }

  .desktop-menu {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    a, button {
      color: #333;
      text-decoration: none;
      margin: 0 16px;
    }
  }

  .menu-button {
    grid-column: 3;
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }

  .menu-button {
    display: block !important;
    grid-column: 2;
  }

  .header-toolbar {
    grid-template-columns: 1fr auto;
  }

  .logo-container {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
}
