<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-container">
    <img src="assets/logo.png" alt="EvoPlay Logo" (click)="navigateToHomePage(); closeMenu()" class="logo">
  </div>
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="header-content" [class.menu-open]="menuOpen">
    <ul class="menu-list">
      <li class="menu-item" (click)="navigateToContactUs(); closeMenu()">
        <a>צור קשר</a>
      </li>
      <li class="menu-item" (click)="navigateToAboutUs(); closeMenu()">
        <a>קצת עלינו</a>
      </li>
      <li class="menu-item" (click)="navigateToOurPackages(); closeMenu()">
        <a>החבילות שלנו</a>
      </li>
      <li class="menu-item" (click)="toggleMenu()">
        <a href="assets/evoplay_menu.pdf" download="EvoPlay_Menu.pdf">תפריט</a>
      </li>
      <li class="menu-item" (click)="toggleMenu()" (click)="navigateToCompanyEvents(); closeMenu()"> <!-- Adjust as needed if submenu has its own navigation logic -->
        <a>אירועים</a>
        <ul class="submenu">
          <li (click)="closeMenu()"><a>אירועי חברה</a></li>
          <li (click)="closeMenu()"><a>ימי הולדת</a></li>
          <li (click)="closeMenu()"><a>מסיבת רווקים/רווקות</a></li>
          <li (click)="closeMenu()"><a>אירוע פרטי אחר</a></li>
        </ul>
      </li>
      <li class="menu-item" (click)="navigateToOurRooms(); closeMenu()">
        <a>החדרים שלנו</a>
      </li>
      <li class="menu-item" *ngIf="isLoggedIn" (click)="navigateToOrderSearch(); closeMenu()">
        <a>חפש הזמנה</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
