<h2 mat-dialog-title class="dialog-title">מידע על מערכת ההטבות</h2>
<mat-dialog-content>
  <p>כל שעה של הזמנת חדר = נקודה אחת.</p>
  <p>כאשר מגיעים ל-10 נקודות, הנקודות יהפכו להטבה אחת שמעניקה לך שעה מתנה בחדר לבחירתך.</p>
  <p><strong>*ההטבות אינן תקפות על הזמנת קונסולות במתחם מציאות וירטואלית.</strong></p>
  <p><strong>*הצבירה מתרחשת רק בעת הזמנת חדר סוני/סוני וי אי פי/מחשבים.</strong></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>סגור</button>
</mat-dialog-actions>
