.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
    background-image: url('../../../assets/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    gap: 30px; /* Adds space between card and form */

  
    .contact-info-card {
        width: 300px; /* Define a fixed width */
        height: 300px; /* Define a height equal to the width to make it a circle */
        border-radius: 50%; /* This will make it circular */
        background-color: #8A2BE2; /* Purple color for the card */
        color: white;
        text-align: center; /* Centers the text */
        padding: 50px; /* Adjust padding as needed */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
      mat-card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        margin-bottom: 20px;
      }
    }
  
    .contact-form-container {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      .contact-form {
        display: flex;
        flex-direction: column;
        
        .mat-form-field {
          background-color: white;
          border-radius: 5px;
  
          .mat-input-element {
            color: #343434; // Dark text for input
          }
        }
  
        .full-width-input {
          width: 100%;
        }
  
        button {
          margin-top: 20px;
        }
      }
    }
    .mat-mdc-card-title mat-icon {
        vertical-align: middle;
        margin-right: 8px; /* Adjust the space between the icon and text */
      }
  }

  @media (max-width: 768px) {
    .contact-us-container {
      padding: 20px; /* Less padding for smaller screens */
      gap: 20px; /* Smaller gap between elements */
    }
  
    .contact-info-card {
      width: 80%; /* Use a percentage of the screen width */
      height: auto; /* Allow the height to grow with content */
      padding: 20px; /* Less padding for smaller screens */
      border-radius: 20px; /* Less rounded for a card-like appearance */
      margin-bottom: 20px; /* Ensure there's space between this and the next element */
      
      mat-card-title {
        font-size: 20px; /* Smaller font size for mobile */
        margin-bottom: 10px;
      }
    }
  
    .contact-form-container {
      width: 100%; /* Full width for form container */
      max-width: none; /* Remove max-width restriction */
      gap: 10px; /* Smaller gap between form fields */
    }
  
    .contact-form {
      .mat-form-field {
        width: 100%; /* Full width for input fields */
        margin-top: 10px; /* Add some margin on the top of each field */
      }
  
  
      button {
        margin-top: 15px; /* Adjust the margin above the button */
      }
    }
  
    .mat-mdc-card-title mat-icon {
      margin-right: 5px; /* Adjust icon spacing */
    }
  }