<div class="about-us-container">
    <div class="content-overlay">
      <h1 class="title">אודות EvoPlay</h1>
      <div class="content-block">
        <p class="intro">ברוכים הבאים ל-EvoPlay, היעד האולטימטיבי לחווית גיימינג ללא פשרות!</p>
        <mat-divider></mat-divider>
        <div class="features">
          <p>אנו מציעים:</p>
          <ul>
            <li>חוויה יוקרתית בלב ראשון לציון</li>
            <li>טכנולוגיה חדשנית משנת 2024</li>
            <li>מגוון חדרי גיימינג מפוארים</li>
          </ul>
        </div>
        <div class="image-gallery">
          <img src="assets/about-us.jpeg" alt="EvoPlay Logo" class="logo">
        </div>
      </div>
    </div>
  </div>
  