
@import '~@mdi/font/css/materialdesignicons.min.css';

/* הגדרות כלליות */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-footer {
  width: 100%;
  margin-top: auto; /* וידוא שה-footer תמיד בתחתית הדף */
  color: #fff;
  text-align: center;
}



app-header {
  width: 100%;
}

.header-toolbar {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

/* הגדרות נוספות לסטיילים */
.booking-title, .submit-button, .dialog-header {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
