<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
      <mat-card-title>שכחתי סיסמה</mat-card-title>
      <form (submit)="onSubmit()" #forgotPasswordForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>אימייל</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">שלח קישור לאיפוס סיסמה</button>
        <div *ngIf="message" class="success-message">{{ message }}</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </form>
    </mat-card>
  </div>
  