.table-container {
    width: 100%;
    overflow: auto;
  }
  
  mat-card-title{
    text-align: center;
  }
  .filter-container {
    margin-bottom: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  