.site-footer {
  background: linear-gradient(90deg, #1e3c72, #f0f0f0);
  color: #fff;
  padding: 40px 0;
  box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.2);
  direction: rtl;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;

    .footer-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .footer-column {
        flex: 1 1 22%;
        margin: 16px 0;

        h6 {
          font-size: 1.4em;
          margin-bottom: 16px;
        }

        p,
        ul,
        form {
          font-size: 1em;
        }

        &.about-us {
          order: 1;
        }
        &.links {
          order: 2;
        }
        &.social-media {
          order: 3;
        }
        &.newsletter {
          order: 4;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 8px;

            a {
              color: #fff;
              text-decoration: none;
              transition: color 0.3s;
              cursor: pointer; // הוספת סמן מצביע כשמרחפים מעל שדה התאריך

              &:hover {
                color: #ffd700;
              }
            }
          }
        }

        // סגנון לטופס הניוזלטר
        &.newsletter {
          form {
            display: flex;
            flex-direction: column;

            mat-form-field {
              width: 100%;
              margin-bottom: 10px;

              .mat-form-field-appearance-fill .mat-form-field-flex {
                background-color: #fff;
              }

              .mat-form-field-label {
                color: #333 !important;
              }

              .mat-input-element {
                color: #333;
              }
            }

            button {
              align-self: flex-start;
              color: #333;
              font-weight: bold;
              margin-right: 110px;
            }
          }
        }

        // סגנון לאייקונים של הרשתות החברתיות
        &.social-media {
          .social-icons {
            display: flex;
            margin-right: 90px;

            a {
              color: #fff;
              margin-left: 16px;
              transition: color 0.3s;

              &:hover {
                color: #ffd700;
              }

              mat-icon {
                font-size: 1.5em;
              }
            }

            a:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }

    .footer-bottom {
      text-align: center;
      border-top: 1px solid #fff;
      padding-top: 16px;
      margin-top: 16px;

      p {
        margin: 0;
        font-size: 0.9em;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    align-items: center;

    .footer-column {
      flex: 1 1 100%;
      text-align: center;
      order: unset !important;

      &.social-media {
        .social-icons {
          justify-content: center;
        }
      }
    }
  }
}
