.packages-container {
  padding: 4rem 2rem 15rem 2rem;
  background-color: #f5f5f5;
  text-align: center;
  direction: rtl;

  .section-title {
    font-size: 2.5rem;
    color: #1e88e5;
    margin-bottom: 5rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }

  .package-grid {
    display: flex;
    justify-content: center; /* מרכז את הכרטיסים במרכז המסך */
    align-items: stretch; /* כל הכרטיסים יימתחו לגובה שווה */
    gap: 2rem; /* רווח מעט גדול יותר בין הכרטיסים */
    flex-wrap: wrap; /* מאפשר גלישה לשורה נוספת במסכים קטנים */
  }

  .package-card {
    flex: 0 1 280px; /* הגדר את רוחב הכרטיסים למינימום של 280px */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* מבטיח שכל תוכן הכרטיס יתפזר לגובה */
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    border-radius: 12px; /* פינות מעוגלות יותר */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 420px; /* גובה מינימלי מעט גדול יותר */

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .package-name {
      position: relative;
      font-size: 1.3rem; /* הגדלת גודל הפונט */
      margin: 1rem 0;
      color: #333;
      font-family: 'M PLUS Rounded 1c', sans-serif;


      .rank-badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 0.3rem 0.6rem;
        border-radius: 12px;
        font-size: 0.8rem;
        color: #fff;
        font-weight: bold;
      }

      &.basic .rank-badge {
        background-color: #9e9e9e; // אפור
      }

      &.advanced .rank-badge {
        background-color: #2196f3; // כחול
      }

      &.premium .rank-badge {
        background-color: #4caf50; // ירוק
      }

      &.luxury .rank-badge {
        background-color: #ff9800; // כתום
      }
    }

    mat-card-image {
      width: 100%;
      height: 120px; /* הקטן את הגובה */
      object-fit: cover;
      flex-shrink: 0;
    }

    mat-card-content {
      flex-grow: 1;
      padding: 1rem;

      .package-description {
        font-size: 0.9rem; /* הקטן את גודל הפונט */
        color: #555;
        margin-bottom: 0.5rem;
        font-family: 'Montserrat', sans-serif;

      }

      .package-info {
        font-size: 0.8rem; /* הקטן את גודל הפונט */
        color: #777;
        font-family: 'Montserrat', sans-serif;


        span {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

/* התאמות למסכים קטנים */
@media (max-width: 768px) {
  .package-card {
    flex: 0 1 100%; /* הכרטיסים יתפסו את כל הרוחב במסכים קטנים */
  }

  .package-divider {
    display: none; /* הסתר את המפרידים במסכים קטנים */
  }
}
